body {

}

canvas {
    background-image: url('/images/wood_tile.jpeg');
    background-size: 100% 100%;
    opacity: 1;
}

.mission-screen {
    width: 100%;
    background-image: url('/images/mission-background.jpeg');
    font-family: sans-serif;
    font-size: 32px;
    color: lightyellow;
    text-align: center;
    border-top: #f5c71a 8px solid;
    border-bottom: #f5c71a 8px solid;
    position: absolute;
    top: 200px;
    display: none;
    animation: fade 10s;
}

@keyframes fade {
    0%, 100% { opacity: 0 }
    50% { opacity: 1 }
}