canvas {
    background-image: url('/Tanks/assets/images/wood_tile.jpeg'); /* change back to /Tanks/assets for production */
    background-size: 100% 100%;
    opacity: 1;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    cursor: crosshair;
}

.canvas-section {
    height: 92.5vh;
    display: flex;
    background-color: #deb887;
}

#canvas-container {
    margin: 1% 10% 3% 10%;
    width: 100%;
    border-radius: 15px;
    border: solid 4px black;
    position: relative;
}

#mission-screen {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    animation: fade 4s;
    background-color: #ffebcd;
    position: absolute;
    z-index: 30;
}

#mission-screen > img {
    position: absolute;
    top: 75%;
    left: 45%;
}

#mission-screen > h2 {
    position: absolute;
    top: 72.5%;
    left: 54%;
    font-size: 50px;
    color: #4682B4;
    -webkit-text-stroke: 2px #0066b2;
}

#mission-screen > div {
    width: 100%;
    background-color: #BA0021;
    border-top: #f5c71a 8px solid;
    border-bottom: #f5c71a 8px solid;
    position: absolute;
    top: 200px;
    font-size: 32px;
    color: lightyellow;
    text-shadow: 4px 4px 4px #000000;
    text-align: center;
}

#game-mission {
    width: 100%;
    font-size: 32px;
    color: lightyellow;
    text-shadow: 4px 4px 4px #000000;
    justify-content: center;
    position: absolute;
    bottom: 7%;
    opacity: 0.8;
}

h1, h2, h3, h4 {
    user-select: none;
}

@keyframes fade {
    0%, 100% { opacity: 0 }
    50% { opacity: 1 }
}

/* .explosion {
    display: none;
} */