#instructions {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffebcd;
    border-radius: 15px;
    position: absolute;
}

#instructions > h1 {
    font-size: 60px;
    color: black;
    margin: 0;
}

strong {
    font-weight: bolder;
}

#how-to-div {
    margin-top: 2%;
    width: 75%;
    height: 65%;
    border-radius: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border: 2px solid black;
}

.icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#how-to-div h2 {
    margin: 2.5% 0 0 0;
}

.square {
    height: 40%;
}

#spacebar {
    height: 15%;
}

#how-to-div > div:last-of-type {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

.instructions-title {
    font-size: 3vh;
    color: #BA0021;
    text-align: center;
    margin: 10% 3% 0 3%;
}

.instructions-text {
    font-size: 2vh;
    color: black;
    text-align: center;
    margin: 7.5% 5% 0 5%;
}