#how-to {
    height: 100vh;
    width: 100vw;
}

#start {
    color: lightyellow;
    width: 100%;
    -webkit-text-stroke: 2px #E32636;
    font-weight: 800;
    animation: fade 2s;
    position: absolute;
    top: 37.5%;
    text-align: center;
    font-size: 40px;
}

@keyframes fade {
    0%, 100% {opacity: 0}
    50% {opacity: 1}
}