#how-to {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffebcd;
}

#start-screen {
    background-color: #ffebcd;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-container {
    width: 100%;
    background-color: white;
    position: relative;
    top: 80px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#start-content, #button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameplay {
    width: 500px;
    height: 300px;
    border-radius: 5px;
}

#start-content, #how-to > div {
    background-color: black;
    background-color: rgba(0, 0, 0, .8);
    width: 50%;
    border-radius: 5px;
    padding-top: 100px;
    position: relative;
    top: 1%;
}

#button-container > input[type="button"] {
    position: relative;
    top: 5%;
    width: 40%;
    margin: 15px;
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid black;
}

#button-container > input[type="button"]:hover {
    background-color: black;
    color: white;
}

#start-screen > h1, #how-to > h1 {
    border-radius: 5px;
    background-color: #6495ED;
    border: 2px solid #0066b2;
    color: white;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 50%;
}

#start-content > h2 {
    border-radius: 5px;
    background-color: #6495ED;
    border: 2px solid #0066b2;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 5%;
    text-align: center;
}

#start {
    color: lightyellow;
    width: 100%;
    -webkit-text-stroke: 2px #E32636;
    font-weight: 800;
    animation: fade 2s;
    position: absolute;
    top: 37.5%;
    text-align: center;
    font-size: 40px;
}

@keyframes fade {
    0%, 100% {opacity: 0}
    50% {opacity: 1}
}