#start-screen {
    background-color: #ffebcd;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#button-container {
    width: 100%;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

#button-container > button {
    width: 40%;
    margin: 15px;
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid black;
}

#button-container > button:hover {
    background-color: black;
    color: white;
}

#start-content > h1 {
    font-size: 75px;
    color: black;
    margin: 0 2% 0 0;
}

#start {
    color: lightyellow;
    width: 100%;
    -webkit-text-stroke: 2px #E32636;
    font-weight: 800;
    animation: fade 2s;
    position: absolute;
    z-index: 30;
    top: 37.5%;
    justify-content: center;
    font-size: 40px;
}

@keyframes fade {
    0%, 100% {opacity: 0}
    50% {opacity: 1}
}